<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <h1>Login Page</h1>
    <hr>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <center>
      <form action="/auth" method="POST">
	Username: <input type="text" name="username" id="usernameinput"><br>
	Password: <input type="text" name="password" id="passwordinput"><br>
	<button type="submit">Login</button>
      </form>
    </center>

    <br><br>

    <text style="font-size:30px">The SQL Command</text>

    <br><br>
    
    <text style="font-size:20px;font-family:Lucida Console">SELECT</text>
    <br>
    <text style="font-size:20px;font-family:Lucida Console;margin-left:40px">CASE</text>
    <br>
    <text style="font-size:20px;font-family:Lucida Console;margin-left:80px">WHEN COUNT (name) >= 1 THEN CAST (1 AS BIT)</text>
    <br>
    <text style="font-size:20px;font-family:Lucida Console;margin-left:40px">ELSE</text>
    <br>
    <text style="font-size:20px;font-family:Lucida Console;margin-left:80px">CAST (0 AS BIT)</text>
    <br>
    <text style="font-size:20px;font-family:Lucida Console;margin-left:40px">END AS isItValid</text>
    <br>
    <text style="font-size:20px;font-family:Lucida Console;margin-left:40px">FROM users WHERE users.name =</text>
    
    <br>
    <text style="font-size:20px;font-family:Lucida Console;margin-left:80px">'</text>
    <text style="font-size:20px;font-family:Lucida Console;margin-left:0px;color:red" id="user"></text>
    <text style="font-size:20px;font-family:Lucida Console;margin-left:00px">'</text>
    <br>
    <text style="font-size:20px;font-family:Lucida Console;margin-left:40px">AND users.pwd =</text>
    <br>
    <text style="font-size:20px;font-family:Lucida Console;margin-left:80px">'</text>
    <text style="font-size:20px;font-family:Lucida Console;margin-left:0px;color:red" id="pass"></text>
    <text style="font-size:20px;font-family:Lucida Console;margin-left:0px">'</text>

    <script src="../static/showSQLcmd.js"></script>
  </body>
</html>
